Package: com.moxuan.icon110
Name: Icon 110%
Version: 1.0.7
Architecture: iphoneos-arm
Description: Enlarges SpringBoard app icons to a fixed 110 percent without preferences or third-party tweak dependencies.
Maintainer: moxuan1121
Author: moxuan1121
Section: Tweaks
